<h1>Edit your post</h1>

<%= render 'form' %>

<h5><%= link_to 'Cancel editing', article_path(@article), data: {confirm: "Are you sure you want cancel editing?"} %> |
<%= link_to 'Delete', article_path(params[:id]), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>   
</h5>